<%- include('../partials/header') %>

<div class='d-flex justify-content-between align-items-center'>
    <h2 class='page-title'>카테고리 생성하기</h2>
    <a href='/admin/categories' class='btn btn-primary'>뒤로</a>
</div>

<br>

<form method='post' action='/admin/categories/add-category'>
    <div class='row mb-3'>
        <label for='title'>Title</label>
        <input type='text' class='form-control' id='title' name='title' placeholder='Title'/>
    </div>
    <button class='btn btn-primary' type='submit'>Submit</button>
</form>